.container {
  margin: 0px;
  padding: 0px;
  background: #fff;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: left;
  background-color: #3f51b5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
}

.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* background-color: #3f51b5; */
  /* padding: 5px 5px 5px 5px; */
}

.item {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 0.600rem;
  padding: 5px 5px 5px 5px;
  color: #3f51b5;
}

.drop {
  border: 1px #3f51b5 dashed;
  color: #3f51b5;
  padding: 30px 30px 30px 30px;
  margin: 20px 10px 10px 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  /* width: 30em; */
  align-items: center;
  justify-content: center;
  padding: 5px 5px 5px 5px;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 10px 10x 10px 10px; */
  margin: 5px 5px 5px 5px;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),
  0px 1px 1px 0px rgba(0,0,0,0.14),
  0px 2px 1px -1px rgba(0,0,0,0.12);
  width: 90%;
}

.questionRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.questionTitle {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.answerTitle {
  text-align: left;
}

.button {
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  color: #fff;
  background-color: #3f51b5;
  border: 0px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-radius: 5px;
}

.button2 {
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  color: #3f51b5;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size: 0.7rem;
  border-radius: 5px;
}

.button3 {
  padding: 0px 4px 0px 4px;
  margin: 5px 5px 5px 5px;
  color: #fff;
  background-color: #3f51b5;
  border: 0px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 20px;
  /* width: 20px; */
  height: 20px;
}

.button:hover {
  background-color:#3b4ba8;
  cursor: pointer;
}

.button2:hover {
  background-color:#eef0ff;
  cursor: pointer;
}

.button3:hover {
  background-color:#3b4ba8;
  cursor: pointer;
}

.checkbox input:disabled{
  background-color: antiquewhite;
}

input {
  margin: 3px 3px 3px 3px;
  width: 25rem;
  height: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.color {
  color: #3f51b5;
}